<section
  id="jobs"
  class="bg-gray-1 pb-8 pt-20 dark:bg-dark-2 lg:pb-[70px] lg:pt-[120px]"
>
  <div class="container px-4 mx-auto">
    <div class="wow fadeInUp" data-wow-delay=".2s">
      <div class="flex flex-wrap items-center -mx-4">

        <div class="w-full px-4 lg:w-1/2">
          <div class="flex flex-wrap -mx-2 sm:-mx-4 lg:-mx-2 xl:-mx-4">
            <div class="w-full px-2 sm:w-2/2 sm:px-4 lg:px-2 xl:px-4">
              <div
                class="mb-4 sm:mb-8 sm:h-[400px] md:h-[540px] lg:h-[400px] xl:h-[500px]"
              >
                <img
                  src="./assets/images/jobs-offers/2.png"
                  alt="about image"
                  class="object-cover object-center w-full h-full"
                />
              </div>
            </div>
          </div>
        </div>


        <div class="w-full px-4 lg:w-1/2">
          <div class="mb-12 max-w-[540px] lg:mb-0">
            <span class="block mb-2 text-lg font-semibold text-primary">
                Des offres d'emploies
              </span>
            <h2
              class="mb-5 text-3xl font-bold leading-tight text-dark dark:text-white sm:text-[40px] sm:leading-[1.2]"
            >
              Trouvez des opportunités qui boostent votre carrière

            </h2>
            <p
              class="mb-10 text-base text-justify leading-relaxed text-body-color dark:text-dark-6"
            >
              Des offres d'emploi adaptées a votre niveau.

              Africa Devs Community met à votre disposition des opportunités d’emploi exclusives provenant de nos partenaires et du réseau de la communauté. Que vous soyez à la recherche d’un stage, d’un premier
              emploi ou d’une nouvelle aventure professionnelle, retrouvez ici des offres adaptées à votre profil et à vos compétences. 🚀
              <br />

            </p>

            <div class="flex items-center gap-4">
              <a
                href="javascript:void(0)"
                class="inline-flex items-center justify-center py-3 text-base font-medium text-center text-white border rounded-md border-primary bg-primary px-2 hover:border-blue-dark hover:bg-blue-dark"
              >
                Offres d'emplois sur le site
              </a>

              <a
                href="https://t.me/lesdeveloppeurs_emploies"
                target="_blank"
                class="inline-flex items-center justify-center py-3 text-base font-medium text-center text-white border rounded-md border-primary bg-primary px-2 hover:border-blue-dark hover:bg-blue-dark"
              >
                Offres d'emplois sur télégrame
              </a>

            </div>

          </div>
        </div>


      </div>
    </div>
  </div>
</section>
