<div class="my-10 mx-auto flex max-w-xl flex-col rounded-xl border bg-gray-700 py-10 px-4 text-center sm:px-10 lg:max-w-screen-lg lg:flex-row lg:text-left">
  <div class="mx-auto w-[15rem] max-w-full lg:mx-0 lg:w-[40rem]">
    <img class="h-72 w-full object-contain" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/4fa0e724015357.5632ca672052c.png" alt="" />
  </div>
  <div class="lg:pl-10">
    <h1 class="mt-8 text-base font-bold text-white md:text-4xl md:leading-snug">
      Restez connecté à l’essentiel

    </h1>
    <p class="mt-4 text-lg text-white">

      Abonnez-vous à notre newsletter pour ne rien manquer des nouveautés de Africa Devs Community:
      offres d’emploi, événements, formations et bien plus encore ! 🚀
    </p>

    <div class="mt-8 flex flex-col rounded-md border bg-white sm:flex-row">
      <input class="m-2 h-12 rounded-md px-4 text-gray-500 focus:outline-none focus:ring focus:ring-blue-400 sm:w-full" placeholder="Enter your email" type="email" name="email" />
      <button class="m-2 shrink-0 rounded-md bg-blue-600 px-8 py-3 font-medium text-white hover:bg-blue-700 focus:bg-blue-700 focus:outline-none">S'abonner</button>
    </div>
  </div>
</div>
